@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);

/****** Font Awesome icons font ******/
@import url('fontawesome.min.css');

/****** Linearicons icons Font ******/
@import url('linearicons.min.css');

/****** 7 stroke icons font ******/
@import url('pe-icon-7-stroke.min.css');

.video-section {
    background-image: url('../images/city.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 80px 0 60px 0;
}
.start-page .sub-page-inner {
    background-image: url('../images/home-bg.jpeg');
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
