/*================================================
 [  Table of contents  ]
 ================================================

#1. Fonts
#2. Global css
#3. Common Style (Pagination, Main Titles)
#4. Preloader
#5. Home page sections changer
#6. Site header (Profile Picture & main menu)
#7. Start Home SubPage
    7.1 Default
    7.2 particles
#8. About SubPage
   8.1 About me
   8.2 Services
   8.3 Video Intro
   8.4 Fun Fact
   8.5 Testenomials
   8.6 My Clients
#9. Resume SubPage
   9.1 Timeline
   9.2 Skills
   9.3 Download Rsume
#10. Portfolio SubPage
#11. Blog SubPage
#12. Contact SubPage
    12.1 Contact Form
    12.2 Contact Info
    12.1 Social Media
#13. Single Blog Page
#14. Single Portfolio Page
#15. Page 404
 ======================================
 [ End table content ]
 ======================================*/

/* ============================================================================= 
#1. Fonts
============================================================================= */

/******  Google fonts ******/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);

/****** Font Awesome icons font ******/
@import url('fontawesome.min.css');

/****** Linearicons icons Font ******/
@import url('linearicons.min.css');

/****** 7 stroke icons font ******/
@import url('pe-icon-7-stroke.min.css');



/* ============================================================================= 
#2. Global css
============================================================================= */

body {
    position: relative;
    margin: 0;
    font-family: 'Poppins', 'Raleway',  Helvetica, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 25px;
    font-weight: 400;
}

.set{
    font-size: 114px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #444;
}

h1 {
    font-size: 31px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 17px;
}
h5 {
    font-size: 115px;
}
h6 {
    font-size: 14px;
}
ul, li{
    list-style: none; 
}

ul{
    padding: 0;
}
a {
    color: #11d6f0;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #FF9800;
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: 0;
}
img {
    max-width: 100%;
}

/* Padding Top Spaces */
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}
.pt-60 {
    padding-top: 50px;
}
.pt-70 {
    padding-top: 50px;
}
.pt-80 {
    padding-top: 50px;
}
.pt-90 {
    padding-top: 50px;
}
.pt-100 {
    padding-top: 50px;
}


/* Padding Bottom Spaces */
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}
.pb-60 {
    padding-bottom: 50px;
}
.pb-70 {
    padding-bottom: 50px;
}
.pb-80 {
    padding-bottom: 50px;
}
.pb-90 {
    padding-bottom: 50px;
}
.pb-100 {
    padding-bottom: 50px;
}


/* ============================================================================= 
#3. Common styles
============================================================================= */

/* Scrollbar Page */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track-piece  {
    background-color: #e6e7e8;
}
::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #dedede;
}

@media only screen and (min-width: 991px) {
    body::-webkit-scrollbar,
    .sub-page::-webkit-scrollbar,
    .single-page-content::-webkit-scrollbar,
    .header::-webkit-scrollbar,
    .sub-page::-webkit-scrollbar-track,
    .header::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    body::-webkit-scrollbar-thumb,
    .sub-page::-webkit-scrollbar-thumb,
    .header::-webkit-scrollbar-thumb{
        background-color: rgba(17, 214, 240, 0.30);
    }
}

/*Pagination*/
.pagination-nav.nav-center {
    display: table;
    margin: 40px auto 0;
}
.pagination-nav .btn {
    float: left;
    font-size: 16px;
    padding: 15px 26px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    position: relative;
    border-radius: 0;
}
.btn.btn-prev {
    background-color: #f7f9fc;
    color: #999;
}
.btn.btn-next {
    background-color: #11d6f0;
    color: #ffffff;
}
.pagination-nav .btn:hover{
    opacity: 0.7;
}
.btn.active, .btn:active, .btn:focus{
    outline: none;
    box-shadow: none;
}

/* Titles page*/
.section-title {
    margin-bottom: 65px;
    padding-top: 20px;
}
.main-title {
    position: relative;
    text-align: center;
}
.title-main-page {
    position: relative;
    z-index: 1;
}
.main-title h4 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 600;
}
.title-main-page h4:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 15px;
    border-color: #11d6f0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
}
.section-title p {
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 5px;
}
.title-main-page p:after {
    content: '';
    display: block;
    border-bottom: 5px solid #11d6f0;
    width: 57px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.sub-title h6 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 70px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.sub-title h6:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    margin-top: 15px; 
    left: 15px;
    background: #11d6f0;
}
.sub-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.video-section .sub-title h6:before {
    background: #f8f9fa;
}
.section-head {
    margin-bottom: 60px;
    position: relative;
}
.section-head h4 {
    position: relative;
    padding: 0 0 0 15px;
    line-height: 1;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}
.section-head h4:before {
    content: '';
    width: 1px;
    height: 35px;
    background: #11d6f0;
    position: absolute;
    left: -1px;
    bottom: 0;
}
.section-head h4 span {
    font-weight: 200;
    padding-bottom: 15px;
    display: block;
}
@media only screen and (max-width: 768px) {
    .main-title h4 {
        font-size: 28px;
    }
    .section-title {
        margin-bottom: 40px;
        padding-top: 40px;
    }
    .list-skills .section-head {
        margin-bottom: 40px;
    }
    .section-head {
        margin-bottom: 40px;
    }
    .section-head h4{
        font-size: 24px;
    }
    .section-head h4 span {
        font-size: 20px;
    }
    #titlebar {
        margin-top: 30px;
    }
    #titlebar h2 {
        font-size: 24px;
    }
}


/* Titlebar */
#titlebar {
    padding-top: 30px;
}
#titlebar .special-block-bg {
    padding: 30px 30px;
}
#titlebar #breadcrumbs span {
    font-size: 13px
}
#titlebar h2 {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 0;
}
#breadcrumbs {
    position: absolute;
    right: 30px;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#breadcrumbs ul {
    margin: 0;
}
#breadcrumbs ul li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #888;
}
#breadcrumbs ul li a:hover {
    color: #666
}

#breadcrumbs ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
}

#breadcrumbs ul li:first-child:before {
    display: none;
}

#breadcrumbs ul li:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #a0a0a0;
    font-size: 13px;
    margin-right: 15px;
    font-weight: 600;
}
#breadcrumbs ul li i.pe-7s-home {
    font-size: 17px;
} 
/* ============================================================================= 
#4. Preloader
============================================================================= */
#preloader {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
}
#preloader-circle {
    position:relative;
    width: 80px;
    height: 80px;
    top: 45%;
    margin: 0 auto;
}
#preloader-circle span {
    position:absolute;
    border: 8px solid #11d6f0;
    border-top: 8px solid transparent;
    border-radius:999px;
}

#preloader-circle span:nth-child(1){
    width:80px;
    height:80px;
    animation: spin-1 2s infinite linear;
}
#preloader-circle span:nth-child(2){
    top: 20px;
    left: 20px;
    width:40px;
    height:40px;
    animation: spin-2 1s infinite linear;
}
@keyframes spin-1 {
    0% {transform: rotate(360deg); opacity: 1;}
    50% {transform: rotate(180deg); opacity: 0.5;}
    100% {transform: rotate(0deg); opacity: 1;}
}
@keyframes spin-2 {
    0% {transform: rotate(0deg); opacity: 0.5;}
    50% {transform: rotate(180deg); opacity: 1;}
    100% {transform: rotate(360deg); opacity: 0.5;}
}

/* ============================================================================= 
#5. Home page sections changer
============================================================================= */
.content-pages {
    height: 100%;
    position: relative;
    margin-left: 284px;
}

.sub-page{
    display: none;
}
.sub-page .sub-page-inner {
    position: relative;
    height: auto;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 70px;
    background-color: #fff;
}

.sub-page-content {
    position: absolute;
    width: 100%;
}


/* ============================================================================= 
#6. Site header (Profile Picture & main menu)
============================================================================= */
.header {
    position: fixed;
    width: 285px;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 11;
    overflow-x: hidden;
    background-color: #f7f9fc;
}

.header .header-content {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}
.profile-picture-block{
    position: relative;
    background-color: rgba(17, 214, 240, 0.30);
    height: 180px;
}
.profile-picture-block:before, .profile-picture-block:after{
    content: '';
    position: absolute;
    left: -25%;
    bottom: -62%;
    width: 100%;
    height: 70%;
    background: #f7f9fc;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    z-index: 3;
}
.profile-picture-block:after {
    left: auto;
    right: -25%;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
.my-photo {
    width: 100px;
    height: 100px;
    text-align: center;    
    overflow: hidden;
    border-radius: 100%;
    position: absolute;
    bottom: -25px;
    left: 30%;
    z-index: 999;
    padding: 8px;
    background-color: rgb(176, 236, 243);
}

.my-photo img {
    border-radius: 100%;
    height: 100%;
}

.site-title-block {
    position: relative;
    z-index: 6;
    margin: 40px 20px 10px;
    text-align: center;
}

.site-title {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2em;
    color: #333333;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Raleway;
}

.site-title span {
    color: #11d6f0;
}

/* Main menu */
.site-nav {
    display: block;
    padding: 25px 0 40px;
    z-index: 999;
    position: absolute;
    width: 100%;
}
.header-main-menu {
    display: block;
    padding: 0;
    margin: 0;
}

.header-main-menu li {
    display: block;
    position: relative;
    padding: 0;
    padding-left: 30px;
}

.header-main-menu li a {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.85em;
    color: #333333;
    letter-spacing: 0px;
    display: block;
    position: relative;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    border-radius: 30px 0 0 30px;
    margin-bottom: 8px;
}
.header-main-menu li a i {
    background-color: #11d6f0;
    color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

.header-main-menu li a:hover,
.header-main-menu li a.active {
    background-color: rgba(176, 236, 243, 0.49);
    color: inherit;
}

.header .copyrights {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px 15px;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: #888;
}
span.typed {
    font-family: Raleway;
    font-weight: 500;
}
/* /Main menu */

/* Mobile menu */
.responsive-header{
    display: none;
}
@media only screen and (max-width: 991px) {
    .profile-picture-block {
        height: 90px;
    }
    .header-main-menu li a{
        margin-bottom: 5px;
    }
    .site-nav {
        padding: 10px 0 40px;
    }
    .my-photo {
        left: 34%;
        width: 80px;
        height: 80px;
    }
    .site-title {
        font-size: 24px;
    }
    .sub-page,
    .sub-page.start-page {
        padding-left: 0;
    }
    .single-page-content {
        padding-left: 0 !important;
        margin-left: 0;
    }
    .sub-page .sub-page-inner {
        padding: 25px 20px;
        margin-left: 0;
    }
    .page-content{
        padding: 0 0 50px;
    }
    .content-area {
        padding: 0;
    }

    .subpage-block {
        margin-bottom: 40px;
    }

    .content-pages {
        top: 55px;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: 0;
        border: 0;
        overflow-x: hidden;
    }

    .header-main-menu {
        display: block;
        float: none;
        margin: 0;
    }

    .header-main-menu li {
        display: block;
        text-align: left;
        float: none;
        width: 100%;
        margin: 0;
    }

    .header-main-menu .sub-menu {
        margin: 0;
        padding-left: 15px;
    }

    .header-main-menu + .header-main-menu > li:first-child {
        margin-left: 0;
    }

    .header .header-content {
        padding-top: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    .header .copyrights {
        bottom: 10px;
        position: relative;
    }
    .responsive-header  { 
        height:55px;  
        position: fixed;
        background: #fff; 
        z-index: 9999; 
        width: 100%; 
        padding: 12px 15px;
        display: block; 
        color: #11d6f0;
        box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .06);
    }
    .responsive-header-name {
        font-size: 16px;
        font-weight: 500;
    }
    img.responsive-logo {
        height: 30px;
        border-radius: 100%;
        margin-right: 5px;
        border: 3px solid rgba(17, 214, 240, 0.30);
    }
    .header{
        display: block;
        position:fixed;
        left:-285px;
        top:55px; 
        width:285px; 
        height:100%; 
        z-index: 9999;
        box-shadow: 5px 0 5px -5px rgba(35, 34, 34, 0.19);
    }
    .responsive-header .responsive-icon {
        position: absolute; 
        right:15px;
        top: 13px;	
        font-size: 30px;
    }
}

/* /Mobile menu toggle */


/* ============================================================================= 
#7. Start Home SubPage
============================================================================= */

/* 7.1 Image Background*/
.start-page {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.start-page .sub-page-inner {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.start-page .sub-page-inner .mask {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(14, 14, 14, 0.24);
}

.start-page .title-block {
    position: relative;
    text-align: center;
}

.start-page .title-block h2 {
    color: #fff;
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-family: Raleway;
}
.title-block .type-wrap {
    color: #fff;
    font-size: 30px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-family: Raleway;
}

.home-buttons .bt-submit {
    padding: 10px 20px;
    display: inline-block;
    min-width: 150px;
    font-weight: 500;
    font-size: 16px !important;
    margin-top: 60px;
    margin-right: 15px;
}
.home-buttons .bt-submit i {
    font-size: 18px;
    margin-right: 5px;
}
@media only screen and (max-width: 991px) {
    .start-page {
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .start-page .title-block h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }
    .title-block .type-wrap {
        font-size: 23px;
    }
    .home-buttons .bt-submit {
        min-width: auto;
        margin-top: 30px;
        margin-right: 10px;
    }
}

/* 7.2 particles */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* ============================================================================= 
#8. About SubPage
============================================================================= */

/* 8.1 About me*/
.about-location {
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
    font-size: 12px;
    color: #888;
}
.about-location i {
    font-weight: 600;
}
.about-content-left .about-content{
    text-align: justify;
}
.bout-list-summry{
    margin-top: 30px;
}
.bout-list-summry li{
    display: inline-block;
}
.bout-list-summry li .icon-info{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    margin-right: 15px;
    transition: .3s;
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
    background: #11d6f0;
    border: 1px solid #11d6f0;
    color: #fff;
}
.bout-list-summry li .icon-info i{
    position: absolute;
    top: 50%;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: visible;
}
.bout-list-summry li .details-info{
    padding-left: 50px;
}
.bout-list-summry li .details-info h6{
    margin-bottom: 0;
}
.bout-list-summry li .details-info p{
    font-size: 12px;
}


/* 8.2 Services */
.special-block-bg{
    background-color: #f7f9fc;
    padding: 60px 30px;
    position: relative;
}
.special-block-bg::before, .special-block-bg::after {
    border-style: solid;
    border-width: 2px;
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
}
.special-block-bg::before {
    border-color: #11d6f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #11d6f0;
    left: 0;
    top: 0;
}
.special-block-bg::after {
    border-color: rgba(0, 0, 0, 0) #11d6f0 #11d6f0 rgba(0, 0, 0, 0);
    bottom: 0;
    right: 0;
}
.service-block {
    position: relative;
    display: table;
    margin: 0;
    padding: 10px 10px 20px 0;
}

.service-block .service-icon {
    display: table-cell;
    width: 54px;
    padding-right: 25px;
    vertical-align: middle;
}
.service-block1{
    padding: 10px 10px 20px 0;
}
.service-block i {
    position: relative;
    font-size: 42px;
    color: #11d6f0;
    float: left;
}

.service-block .service-text {
    padding: 0;
    vertical-align: middle;
}

.service-block .service-text h4 {
    margin: 5px 0;
}

@media only screen and (max-width: 991px) {
    .bout-list-summry li {
        margin-bottom: 15px;
    }
    .special-block-bg {
        padding: 50px 15px;
    }
    .service-block .service-icon {
        width: 100% !important;
        padding-right: 0; 
        display: block !important;
        float: left;
        margin-bottom: 10px;
    }
    .pulse-icon .icon-wrap{
        width: 45px !important;
        height: 45px !important;
    }
    .pulse-icon .circle-outer {
        width: 80px !important;
        height: 80px !important;
    }
}

/*8.3 Video Intro*/
.video-section {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 80px 0 60px 0;
}
.overlay {
    background: linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,#11d6f0 40%,rgb(176, 236, 243) 100%);
    height: 100%;
    width: 100%;
    padding: 80px 30px;
}

.pulse-icon .circle,
.pulse-icon .pulse {
    border-radius: 50%;
    position: absolute
}

@keyframes gradient {
    0%,
    100% {
        background-position: 0 20%
    }
    50% {
        background-position: 100% 80%
    }
}

.pt-button-regular:hover {
    animation: gradient 8s ease infinite;
    color: #fff
}

.pulse-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2
}

.pulse-icon .icon {
    font-size: 30px;
    animation: grow-shrink 4s ease-out infinite;
    position: relative;
    top: 16px;
    left: 4px
}

.pulse-icon .circle-inner,
.pulse-icon .circle-outer {
    background: #fff;
    animation: grow-circles 4s linear infinite both
}

.pulse-icon a {
    color: #11d6f0;
    font-size: 40px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}

.pulse-icon .icon-wrap {
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    position: relative;
    z-index: 3
}

.pulse-icon .elements {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.pulse-icon .circle-inner {
    width: 80px;
    height: 80px;
    top: -10px;
    left: -10px
}

.pulse-icon .circle-outer {
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px
}

.pulse-icon .pulse {
    animation: pulse-wave 4s linear infinite both
}

.pulse-icon .pulse-1 {
    border: 1px solid rgba(255, 255, 255, .55);
    width: 200px;
    height: 200px;
    top: -70px;
    left: -70px
}

.pulse-icon .pulse-2 {
    border: 1px solid rgba(255, 255, 255, .75);
    width: 300px;
    height: 300px;
    top: -120px;
    left: -120px
}

.pulse-icon .pulse-3 {
    border: 1px solid rgba(255, 255, 255, .85);
    width: 400px;
    height: 400px;
    top: -170px;
    left: -170px
}

@keyframes pulse-wave {
    0% {
        opacity: 0;
        transform: scale(.1)
    }
    50% {
        opacity: 1;
        transform: scale(.5)
    }
    100% {
        opacity: 0;
        transform: scale(1)
    }
}

@keyframes grow-circles {
    0%,
    30% {
        opacity: .85;
        transform: scale(1)
    }
    15% {
        opacity: 1;
        transform: scale(1.05)
    }
}

@keyframes grow-shrink {
    0%,
    30% {
        transform: scale(1)
    }
    15% {
        transform: scale(1.1)
    }
}
@media only screen and (max-width: 768px) {
    .sub-title {
        display: none;
    }
    .video-section{
        margin: 50px 0;
    }
    .pulse-icon .circle-inner, .pulse-icon .pulse-1, .pulse-icon .pulse-2, .pulse-icon .pulse-3{
        display: none !important;
    }
}

/* 8.4 Fun Fact */
.counter-block {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0;
    background: #f7f9fc;
    padding: 20px 10px 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.counter-block::before, .counter-block::after {
    border-style: solid;
    border-width: 1px;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    width: 30px;
}
.counter-block::before {
    border-color: #11d6f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #11d6f0;
    left: 0;
    top: 0;
}
.counter-block::after {
    border-color: rgba(0, 0, 0, 0) #11d6f0 #11d6f0 rgba(0, 0, 0, 0);
    bottom: 0;
    right: 0;
}
.counter-block i {
    position: relative;
    font-size: 40px;
    color: #11d6f0;
}
.counter-block h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.counter-block .counter-block-value {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    display: block;
    margin: 10px 0;
    color: #bfc4c5;
}


/* 8.5 Testimonials */

.testimonials {
    padding-bottom: 60px;
}
.testimonial-item {
    width: 100%;
    margin: 0 auto;
}

.testimonial-content {
    width: 100%;
    height: auto;
}

.testimonial-content .testimonial-review {
    padding: 1.4em 1.8em;
    background-color: #fff;
    width: 100%;
    position: relative;
    margin: 0;
    z-index: -1;
}
.testimonial-review{
    background-color: #fff;
}
.testimonial-review:before {
    content: "\f10d";
    font-family: "FontAwesome";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 20px;
    color: #11d6f0;
    font-size: 30px;
}
.testimonial-review::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e5e5e5;
    position: absolute;
    bottom: -10px;
    left: 30px;
    border-top-color: #fff;
}
.testimonial-content .testimonial-review p {
    margin: 0;
    padding-left: 50px;
}
.testimonial-credipt {
    margin-top: 10px;
    display: block;
    position: relative;
}
.testimonial-footer {
    padding-top: 15px;
}
.testimonial-avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0;
    border-radius: 40px;
    z-index: 1;
    float: left;
}
.testimonial-avatar img {
    width: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 2px solid #e5e5e5;
}
.testimonial-owner-content {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.testimonial-owner, .info-list li .title {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #333333;
}
.testimonial-owner {
    display: inline-block;
    font-size: 1.07em;
    color: #222;
    margin: 0;
    font-weight: 600;
    text-align: center;
}
.testimonial-position {
    font-size: 12px;
    line-height: 1.3em;
    margin: 0;
    font-weight: 400;
    color: #888;
}
.testimonial-rating{
    margin-top: 8px;
}
.testimonial-rating li{
    display: inline-block;
    color: #fec42d;
}
.owl-dots {
    display: block;
    z-index: 9999;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}
.owl-dot {
    display: inline-block;
}
.owl-dot span{
    width: 15px;
    height: 8px;
    border-radius: 15px;
    margin-left: 2px;
    margin-right: 2px;
    background: #ccc;
    border:none;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.owl-dot.active span{
    background: #11d6f0;
    width: 25px;
}

/* 8.6 Clients */

.client-block {
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 0 15px 15px;
}

.clients.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    max-width: 100px;
}
@media only screen and (max-width: 768px) {
    .clients.owl-carousel {
        padding-bottom: 0;
    }
    .testimonial-content{
        padding-left: 0;
    }
    .testimonial-content .testimonial-review {
        padding: 10px;
    }
    .testimonial-review:before {
        font-size: 25px;
    }
    .testimonial-content .testimonial-review p {
        padding-left: 45px;
    }
    .testimonial-credits {
        padding-left: 12px;
    }
    .testimonial-avatar {
        width: 60px;
        height: 60px;
    }
}

/* ============================================================================= 
#9. Resume SubPage
============================================================================= */

/* 9.1 Timeline*/
.timeline-bg{
    background: #f4f5f9;
}
.main-timeline{
    overflow: hidden;
    position: relative;
    padding: 0px 0;
}
.main-timeline:before{
    content: "";
    width: 3px;
    height: 80%;
    background: #f4f5f9;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    width: 50%;
    clear: both;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    clear: both;
}
.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before{
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    position: absolute;
    top: -54px;
    right: -11px;
    transform: rotate(45deg);
}
.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: -54px;
}
.main-timeline .timeline:last-child:nth-child(even):before{
    right: auto;
    left: -11px;
}
.main-timeline .timeline-icon{
    width: 100px;
    height: 100px;
    background: #fff;
    position: absolute;
    top: 0px;
    right: -60px;
    z-index: 1;
    border-radius: 50%;
    background: #fff;
    border-radius: 100%;
    box-shadow: 2px 2px 20px rgba(0,0,0,.1);
}

.main-timeline .timeline-icon:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f4f5f9;
    position: absolute;
    top: 15%;
    left: 86%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}

.timeline-icon:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #dedede;
    position: absolute;
    top: 15%;
    left: 86%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
    transition: all 0.3s ease 0s;
}
.timeline.currecnt .timeline-icon:after, .main-timeline .timeline:hover  .timeline-icon:after{
    background: #11d6f0;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f4f5f9;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}
.main-timeline .timeline-content{
    width: 85%;
    padding: 18px 30px;
    text-align: right;
    float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
}

.main-timeline .timeline:hover .timeline-content:before{
    background: #fc6f5c;
    border-color: #fc6f5c;
}

.main-timeline .date{
    display: block;
    font-size: 14px;
    color: #888;
    margin: 0 0 8px;
    font-family: sans-serif;
    transition: all 0.3s ease 0s;
}
.main-timeline .timeline:hover .date{ color: #444; }
.main-timeline .title{
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.timeline-icon {
    display:  flex;
    justify-content:  center;
    align-items:  center;
}

.timeline-icon img {
    width: 100px;
    border-radius: 100%;
}
.main-timeline .timeline:hover .title{     color: #11d6f0; }
.main-timeline .description{

    margin-top: 8px;
}
.main-timeline .timeline:nth-child(2n),
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float: right;
    text-align: left;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{
    right: 0;
    left: -65px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{ left: -7.3px; }
.main-timeline .timeline:nth-child(2n) .timeline-content:after{ left: -14%; }

@media only screen and (max-width: 767px){
    .main-timeline .timeline-icon {
        width: 70px;
        height: 70px;
    }
    .timeline-icon img {
        width: 60px;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-icon {
        right: 0;
        left: 5px;
    }
    .main-timeline:before {
        left: 50px;
        top: 10px;
        height: 75%;
    }
    .main-timeline .timeline-icon:before {
        width: 25px;
        height: 25px;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-icon:before {
        display: block;
        width: 25px;
        height: 25px;
    }
    .timeline-icon:after {
        width: 15px;
        height: 15px;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-icon:after {
        width: 15px;
        height: 15px;

    }          
    .main-timeline{ padding-left: 10px; }
    .main-timeline .timeline{ width: 100%; 
    }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:nth-child(odd):before{
        right: auto;
        left: -11px;
    }
    .main-timeline .timeline-icon{
        right: 0;
        left: 0;
    }
    .main-timeline .timeline-content:before{ left: -7.3px; }
    .main-timeline .timeline-content:after{ left: -14%; }
    .skills-items{
        padding: 0 15px;
    }
    .section-head a.bt-submit {
        position: unset !important;
        display: inline-block;
        margin-top: 30px !important;
    }
    .main-timeline .timeline,
    .main-timeline .timeline-content{
        float: right;
        text-align: left;
        padding: 18px 0px 18px 30px;
    }
    .list-skills .special-block-bg{
        margin-bottom: 30px;
    }
    .main-timeline .title {
        font-size: 16px;
    }
}

/* 9.2 Skills */
.progress {
    height: 12px;
    margin-bottom: 19px;
    position: relative;
    box-shadow: none;
    color: #333;
    border-radius: 10px;
}
.skill-item {
    position: relative;
}
.skill-item h4 {
    font-size: 13px;
    margin-bottom: 5px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #11d6f0;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.skill-item span {
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 12px;
}

.list-skills .section-head h4{
    font-size: 20px;
}
.list-skills .section-head {
    margin-bottom: 60px;
}
.language-skill h4 {
    font-size: 13px;
}
.language-skill h4 span {
    color: #666;
    font-size: 12px;
    margin-left: 5px;
    font-weight: normal;
}
.rating li{
    display: inline-block;
}
.rating li i{
    color: #fec42d;
}
.rating li i.half-star{
    color: #d4d4d4;
}

/* 9.3 ownload Resume */
.section-head a.bt-submit {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 10px 20px;
    margin-top: 10px;
}


/* ============================================================================= 
#10. Portfolio SubPage
============================================================================= */

.filter-tabs {
    display: table;
    margin: 50px auto 100px;
}

.filter-tabs button span {
    display: block;
    font-size: 13px;
    margin-bottom: 7px;
}

.filter-tabs button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #6b6b6b;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.filter-tabs .fil-cat[data-rel="all"] span{
    visibility: hidden;
}

.filter-tabs .active-filter, .filter-tabs .fil-cat:focus, .filter-tabs .fil-cat:hover {
    color: #11d6f0;
    transform: scale(1.08);
    border: none !important;
    outline: none !important;
    cursor: pointer;
}

.filter-tabs .active-filter span {
    transform: scale(0.9);
}

.label-portfolio {
    background-color: #ffffff;
    left: 50px;
    padding: 50px 30px 50px 50px;
    position: absolute;
    top: -95px;
    z-index: 5;
}

.label-portfolio::before {
    border-color: #11d6f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #11d6f0;
    border-style: solid;
    border-width: 2px;
    content: "";
    display: table;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.label-portfolio > span {
    color: #11d6f0;
    font-size: 50px;
}

.label-portfolio .rotated-sub {
    display: block;
    font-size: 18px;
    left: 53px;
    position: absolute;
    text-transform: capitalize;
    transform: rotate(90deg) translate(0%, 50%);
    transform-origin: 0 20% 0;
    bottom: 80px;
}

.portfolio-item {
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 0;
    position: relative;
    float: left;
}

.portfolio-item .portfolio-img > img {
    width: 100%;
    margin-bottom: 0;
}

.portfolio-grid {
    position: relative;
    padding: 0 15px;
}
.related-projects .portfolio-grid {
    padding: 0;
}

.portfolio-item > a {
    display: block;
}

.portfolio-data {
    background-color: rgb(255, 255, 255);
    bottom: 20px;
    color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 110px;
    max-width: 50%;
    padding: 30px;
    position: absolute;
    right: 20px;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}

.portfolio-data h4 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
    transition: all 0.4s ease-in-out;
}

.portfolio-data .meta {
    color: #6b6b6b;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out;
    font-size: 13px;
}

.portfolio-attr a {
    float: left;
}

.portfolio-attr a:hover,
.portfolio-attr a:focus {
    outline: 0 none;
}

.portfolio-attr a::after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: table;
    float: right;
    height: 1px;
    margin: 0 10px;
    position: relative;
    top: 11px;
    width: 24px;
}

.portfolio-attr a:last-child::after {
    content: none;
}

.portfolio-wrap {
    position: relative;
}

.portfolio-grid .portfolio-item .portfolio-data h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
}

.portfolio-grid .portfolio-item .portfolio-attr {
    display: none;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    margin-top: auto;
}

.portfolio-grid .portfolio-item .portfolio-attr a {
    color: #fff;
    font-size: 26px;
}

.portfolio-grid .portfolio-item:hover .portfolio-data {
    padding: 40px;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
    background-color: rgba(17, 214, 240, 0.65);
}

.portfolio-grid .portfolio-item:hover .portfolio-data .meta {
    color: #fff;
    font-size: 16px;
}

.portfolio-grid .portfolio-item:hover .portfolio-data h4 a {
    color: #ffffff ;
    font-size: 20px;
}

.portfolio-grid .portfolio-item:hover .portfolio-attr {
    display: table;
    opacity: 1;
}

@media (max-width: 991px) {
    .portfolio-grid .portfolio-item .portfolio-data {
        max-width: calc(100% - 40px) !important;
    }
    .portfolio-grid .portfolio-item .portfolio-data h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 95%;
    }
}


@media (min-width:768px) and (max-width: 1199px) {
    .label-portfolio {
        display: none;
    }
}

@media (max-width: 767px) {
    .label-portfolio {
        display: none;
    }
    .filter-tabs {
        align-content: stretch;
        display: flex;
        justify-content: stretch;
        margin: 0 0 50px;
    }
    .filter-tabs button {
        display: block !important;
        flex: 1 1 0;
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        padding: 5px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
    }
    .filter-tabs button:first-child {
        flex-grow: 0.5;
    }
    .filter-tabs button span {
        border-radius: 20px;
        color: #6b6b6b;
        display: table;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 9px;
        margin-left: auto;
        margin-right: auto;
        width: 20px;
    }
    .filter-tabs button.active-filter span {
        background-color: #11d6f0;
        transform: none;
    }
    .filter-tabs .active-filter {
        transform: none;
    }
    .filter-tabs button[data-filter="*"] span {
        visibility: hidden;
    }
    .portfolio-grid .portfolio-item:hover .portfolio-data{
        padding: 20px;
    }
}


@media (max-width: 480px) {
    .portfolio-item {
        width: 100% !important;
    }
}


/* ============================================================================= 
#11. Blog SubPage
============================================================================= */

.row.blog-grid-flex {
    display: flex;
    flex-wrap: wrap;
}

.blog-grid-flex .blog-item {
    margin-bottom: 30px;
}

.blog-grid-flex .blog-article {
    position: relative;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
}

.blog-grid-flex .blog-article .post-format {
    display: table;
    left: 20px;
    position: absolute;
    top: 24px;
    z-index: 2;
    color: #ffffff;
    font-size: 30px;

}


.blog-grid-flex .blog-article .comment-like {
    background-color: rgba(17, 214, 240, 0.6);
    color: #ffffff;
    display: table;
    padding: 5px 13px 8px;
    position: absolute;
    right: 15px;
    top: 24px;
    z-index: 2;
}

.blog-grid-flex .article-img img {
    height: auto;
    margin-bottom: 0;
    width: 100%;
    transform: scale(1);
    transition: transform 0.5s ease-in-out 0s;
}

.blog-grid-flex .blog-item:hover .article-img img {
    transform: scale(1.1);
}

.blog-grid-flex .article-link a {
    background-color: #ffffff;
    border-radius: 50px;
    color: #999;
    display: table;
    transition: all 0.5s ease-in-out 0s;
    z-index: 2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.blog-grid-flex .blog-article > .article-link > a {
    left: 0;
    position: absolute;
    top: -16px;
}

.blog-grid-flex .blog-item:hover .blog-article > .article-link > a {
    background-color: #11d6f0 !important;
    border-color: #ffffff;
    color: #ffffff;
}

.blog-grid-flex .article-link a:hover, .blog-grid-flex .article-link a:focus {
    text-decoration: none;
}
.blog-grid-flex .article-link a i::before {
    font-size: 15px;
    font-weight: normal;
}

.blog-grid-flex .article-link {
    display: table;
    margin: 0 auto;
    position: relative;
    width: 34px;
}

.blog-grid-flex .article-img {
    overflow: hidden;
    position: relative;
}


.blog-grid-flex .article-content {
    color: #6b6b6b;
    padding: 25px 30px;
    text-align: center;
    position: relative;
}

.blog-grid-flex .article-content .meta {
    font-family: "Raleway";
    font-size: 12px;
    margin-bottom: 16px;
}

.blog-grid-flex .meta a {
    color: inherit;
}

.blog-grid-flex .article-content h4 a{
    color: #1b1b1b;
    transition: all 0.5s ease-in-out 0s;
}

.blog-grid-flex .blog-item:hover:not(.blog-item-quote) h4 {
    color: #137395;
}

.blog-grid-flex .blog-item .meta i {
    font-style: normal;
}

.blog-grid-flex .blog-item:not(.blog-item-quote) .meta i {
    color: #6b6b6b;
}

.blog-grid-flex .blog-item:not(.blog-item-quote) .meta > span {
    color: #8b8b8b;
    font-weight: 500;
}

.blog-grid-flex .meta > span::after {
    content: "-";
    display: inline-block;
    padding: 0 8px 0 9px;
    transform: scaleX(3);
}

.blog-grid-flex .meta > span:last-child::after {
    content: none;
}

.blog-grid-flex .blog-item-quote .article-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}
.blog-grid-flex .article-img::after{
    background-color: rgba(0, 0, 0, 0.5);

    transition: all 0.5s ease-in-out;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
}
.blog-grid-flex .blog-item-quote .article-img::after {
    background-color: #11d6f0;
    opacity: 0.8;
}

.blog-grid-flex .blog-item-quote:hover .article-img::after {
    background-color: #76c4df;
}

.blog-grid-flex .blog-item-quote h4 a{
    color: #ffffff;
    font-size: 22px;
    font-weight: lighter;
    line-height: 1.7;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 15px;
    display: block;
}

.blog-grid-flex .blog-item-quote .meta {
    color: #ffffff;
    margin-bottom: 25px;
}

.blog-grid-flex .blog-item-quote .comment-like {
    background-color: transparent;
    border: 1px solid #fff;
}
.blog-grid-flex .blog-item-quote .comment-like span{
    color: #fff;
}
.blog-grid-flex .comment-like span{
    display: inline-block;
    margin-left: 8px;
}
.blog-grid-flex .blog-item-quote .article-link > a {
    background-color: transparent;
    border: 1px solid #fff !important;
    color: #ffffff;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .blog-grid-flex .blog-item-quote h4 {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 50px;
        padding: 0 10px;
    }
}


@media (max-width: 767px) {
    .row.blog-grid-flex {
        display: block;
    }
    .blog-grid-flex .blog-item-quote .article-img {
        height: auto;
    }
    .blog-grid-flex .blog-item-quote h4 {
        font-size: 18px;
        line-height: 1.7;
        margin-bottom: 20px;
        margin-top: 15px;
        padding: 0;
    }
    .blog-grid-flex .blog-item-quote h4 a{
        font-size: 18px;
    }
}

/* ============================================================================= 
#12. Contact SubPage
============================================================================= */

/*12.1 Contact Form*/

.contact-form{
    position: relative;
}
input, textarea {
    outline: none !important;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    transition: all .5s ease;
}
#add-review input, #add-review textarea {
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 30px;
}
#add-review textarea {
    padding-top: 10px;
}
#add-review .bt-submit{
    margin-top: 0;
}
input{
    height: 50px;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus{
    text-indent: 15px;
    outline: none !important;
    border: 0;
    border-bottom: 1px solid #11d6f0;
}
textarea{
    resize: none;
}
.bt-submit {
    color: #fff !important;
    position: relative;
    font-weight: 700;
    font-size: 14px !important;
    border-radius: 100px !important;
    background: linear-gradient(135deg,#11d6f0,#6ceeff,#11d6f0,#ccc,#6ceeff);
    background-size: 400% 400%;
    margin-top: 35px;
}
.bt-submit:hover {
    animation: gradient 8s ease infinite;
    color: #fff;
}
#show_contact_msg div{
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
#show_contact_msg i{
    margin-right: 5px;
}
#show_contact_msg .loading{
    background-color:#2bcf32;
}
#show_contact_msg .gen {
    background-color: #45dff3;

}
#show_contact_msg .err{
    background-color: #f44336;
}

/* 12.2 Contact Info*/

.contact-info.d-flex {
    justify-content: center;
    align-items: center;
}
.w-25 {
    width: 25% !important;
}
.contact-icon i {
    font-size: 28px;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    background: #11d6f0;
    border-radius: 100%;
    box-shadow: 2px 2px 20px rgba(0,0,0,.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.w-75 {
    width: 75% !important;
    border-right: 1px solid #dedede
}
.contact-info.d-flex:last-child .w-75{
    border: none;
}
.contact-text h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.contact-text.w-75 p {
    margin-bottom: 0;
    color: #999;
}
.contact-info.d-flex:hover .contact-icon i{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 12px 17px rgba(0,0,0,.12);
    -moz-box-shadow: 0 12px 17px rgba(0,0,0,.12);
    -o-box-shadow: 0 12px 17px rgba(0,0,0,.12);
    box-shadow: 0 12px 17px rgba(0,0,0,.12);
}
#google-map{
    height: 350px;
}
/*12.3 Social Media*/

.social-media-block {
    background-color: #f7f9fc;
    padding: 30px 20px;
    position: relative;
}
.social-media-block::before, .social-media-block::after {
    border-style: solid;
    border-width: 2px;
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
}
.social-media-block::after {
    border-color: rgba(0, 0, 0, 0) #11d6f0 #11d6f0 rgba(0, 0, 0, 0);
    bottom: 0;
    right: 0;
}
.social-media-block::before {
    border-color: #11d6f0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #11d6f0;
    left: 0;
    top: 0;
}
.social-media-block h4, .social-media-block ul{
    display: inline-block;
    margin-bottom: 0;
}
.social-media-block h4{
    margin-right: 15px;
}
.social-media-links li, .social-media-links a{
    display: inline-block;
}
.social-media-block a{
    font-size: 16px;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #11d6f0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 100%;
    margin-right: 15px;
    box-shadow: 2px 2px 20px rgba(0,0,0,.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.social-media-block a:hover{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 12px 17px rgba(0,0,0,.12);
    -moz-box-shadow: 0 12px 17px rgba(0,0,0,.12);
    -o-box-shadow: 0 12px 17px rgba(0,0,0,.12);
    box-shadow: 0 12px 17px rgba(0,0,0,.12);
    color: #fff;
    background: #11d6f0;
}
@media (max-width: 767px) {
    .contact-form {
        padding-top: 20px;
    }
    .left-background {
        display: none;
    }
    .contact-info.d-flex {
        margin-bottom: 20px;
    }
    .sidebar-textbox{
        padding-bottom: 0;
    }
    .social-media-block h4 {
        margin-bottom: 20px;
    }
    .social-media-block a{
        margin-bottom: 7px;
    }
}

/* ============================================================================= 
#13.Single Blog Page
============================================================================= */
.blog-page {
    padding: 40px 0 50px 0;
}
.single-page-content {
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15px;
}

.single-page-content .content-area {
    position: relative;
    display: block;
    max-width: 2300px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
}

.single-page-content .content-area .page-content {
    padding: 0 0 50px;
    min-height: 100%;
    height: 100%;
    clear: both;
    display: block;
    background-color: #fff;
}

.single-page-content .post-content {
    position: relative;
    margin-top: -70px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    z-index: 1;
}
.blog-post {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
}
.post-meta {
    margin-bottom: 25px;
}
.post-meta li, .post-meta li a {
    display: inline-block;
    color: #888;
    font-weight: normal;
}
.post-meta li{
    margin-right: 15px;  
}
.post-meta li:hover, .post-meta li a:hover{
    color: #11d6f0;
}
.blog-page h4.headline {
    font-size: 22px!important;
    font-weight: 400;
}
.single-post p {
    margin: 20px 0;
    text-align: justify;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 30px;
    color: #888;
    border-left: 5px solid #eeeeee;
    font-weight: normal;
}

#posts-nav {
    padding: 0;
    list-style: none;
    width: 100%;
    position: relative;
    margin: 0;
    display: inline-block;
    min-height: 80px;
    margin: 40px 0;
}

#posts-nav li span {
    display: block;
    color: #888;
    font-size: 15px;
    margin-bottom: 1px;
    font-weight: 400;
}

#posts-nav li {
    position: absolute;
    font-size: 17px;
    font-weight: 500;
    width: 50%;
}

#posts-nav li a {
    transition: transform 0.3s, color 0.3s 0s;
    color: #333;
    display: inline-block;
}

#posts-nav li a:hover {
    color: #11d6f0;
}

#posts-nav li.next-post {
    right: 0;
    text-align: right;
}

#posts-nav li.prev-post {
    left: 0;
}

#posts-nav li.next-post a {
    padding-right: 50px;
}

#posts-nav li.prev-post a {
    padding-left: 50px;
}

#posts-nav li.prev-post a:before,
#posts-nav li.next-post a:before {
    font-family: "FontAwesome";
    font-size: 28px;
    position: absolute;
    color: inherit;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transition: transform 0.3s;
    font-weight: 600;
    color: #888;
}

#posts-nav li.next-post a:before {
    right: 0;
    content: "\f105";
}

#posts-nav li.prev-post a:before {
    left: 0;
    content: "\f104";
}

#posts-nav li.next-post a:hover:before {
    transform: translate3d(5px, -50%, 0);
}

#posts-nav li.prev-post a:hover:before {
    transform: translate3d(-5px, -50%, 0);
}


.about-author {
    margin: 0 0 45px 0;
    padding: 30px 35px;
    background: #f7f9fc;
    border-radius: 4px;
}

.about-author p {
    margin: 5px 0 5px 0;
}

.about-author a {
    position: relative;
    top: -7px;
    color: #66676b;
    font-weight: 400;
}

.about-author h4 {
    letter-spacing: 0;
}
.about-author img {
    float: left;
    margin: 7px 5px 5px 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid rgba(17, 214, 240, 0.30);
}

.about-description {
    margin: 2px 0 0 150px;
}

.comments {
    margin-top: 30px;
}
.comments h4 {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.comments h4 span {
    display: inline-block;
    font-size: inherit;
}

.comment {
    font-size: 20px;
}

.comments .button {
    margin: 0 0 10px 0;
    padding: 7px 15px;
}

.comments.reviews .button {
    margin: 0;
}

.comments ul {
    padding-left: 0;
}

.comments ul li {
    display: block;
    width: 100%;
}

.comments ul li,
.comments ul li ul li,
.comments ul li ul li ul li,
.comments ul li ul li ul li {
    margin: 50px 0 0 0px;
}

.comments ul li ul {
    margin: 0 0 0 100px;
}

.comment-content p {
    margin: 3px 0 0 0;
    line-height: 26px;
}

.comment-content {
    color: #666;
    padding: 0 0 0 100px;
}

.comments ul li ul {
    border-left: 1px solid #e0e0e0;
    padding-left: 35px;
}

.comments ul li ul li:before {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #e0e0e0;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: -35px;
}

.comments ul li {
    position: relative;
}

.comment-content strong {
    padding-right: 5px;
    color: #666;
}

.comment-content span {
    color: #888;
}

.comment-content p {
    padding: 5px 0;
    font-size: 15px;
}

.comments-amount {
    color: #888;
    font-weight: 500;
}

.avatar {
    display: inline-block;
    float: left;
    padding: 0 20px 0 0;
    position: absolute;
    left: 0px;
}

.avatar img {
    max-width: 80px;
    border-radius: 50%;
}

.comment-by {
    width: 100%;
    padding-bottom: 8px;
    padding-top: 5px;
    font-weight: 500;
    color: #333;
}

.comment-by h5 {
    margin: 0 0 7px 0;
}

.comment-by a.reply,
.comment-by a.reply i {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.comment-by a.reply {
    display: inline;
    background-color: #f7f9fc;
    padding: 5px 16px;
    line-height: 22px;
    font-size: 13px;
    color: #777;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 15px;
    border-radius: 50px;
}

.comment-by a.reply i {
    font-size: 12px;
    margin-right: 1px;
}

.comment-by .numerical-rating {
    margin: 4px 0 0 0;
}

.comment-by .numerical-rating,
.comment-by .star-rating {
    position: absolute;
    right: 0;
    top: 7px;
}

.comment-by a.reply:hover {
    background-color: #66676b;
}

.comment-by a.reply:hover,
.comment-by a.reply:hover i {
    color: #fff;
    background-color: #11d6f0;
}

.comment-by span.date {
    color: #888;
    font-weight: 300;
    margin: 0px 0 0 0;
    float: none;
    display: block;
    text-align: left;
}

.add-review-box {
    border-radius: 4px;
    background-color: #f7f9fc;
    padding: 30px;
    padding-bottom: 40px;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.add-review-box h3 {
    margin: 0 0 30px 0;
    font-weight: 500;
}
.add-comment label span {
    color: #e24747;
}

.blog-page .blog-post .post-content,
.single-post .post-content {
    padding: 36px 43px;
}

.share-buttons {
    padding: 0;
    list-style: none;
}

.share-buttons li {
    display: inline-block;
    margin: 0 6px 8px 0;
}

.share-buttons li a {
    background: #fff;
    border: 1px solid #666;
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;
    padding: 7px 20px;
    transition: 0.3s;
    display: inline-block;
    line-height: 17px;
    font-weight: 500;
}

.share-buttons li a:hover {
    color: #fff;
}

.share-buttons li i {
    font-size: 16px;
    position: relative;
    right: 3px;
    top: 1px;
}

.share-buttons li a.fb-share:hover {
    background: #3b5998;
    color: #fff;
}

.share-buttons li a.fb-share {
    border-color: #3b5998;
    color: #3b5998;
}

.share-buttons li a.twitter-share:hover {
    background: #1da1f2;
    color: #fff;
}

.share-buttons li a.twitter-share {
    border-color: #1da1f2;
    color: #1da1f2;
}

.share-buttons li a.gplus-share:hover {
    background: #dd4b39;
    color: #fff;
}

.share-buttons li a.gplus-share {
    border-color: #dd4b39;
    color: #dd4b39;
}

.share-buttons li a.pinterest-share:hover {
    background: #bd081c;
    color: #fff;
}

.share-buttons li a.pinterest-share {
    border-color: #bd081c;
    color: #bd081c;
}
/*Right Sidebar*/
.input {
    position: relative;
}
.search-blog-input input{
    height: 50px;
    border-radius: 30px;
    border: 1px solid #dedede;
    padding-left: 15px;
}
.search-blog-input input:hover,  .search-blog-input input:focus{
    border: 1px solid #11d6f0;
}
.widget .search-blog-input .input:before {
    content: "\f002";
    font-size: 15px;
    color: #11d6f0;
    position: absolute;
    display: inline-block;
    font-family: "FontAwesome";
    right: 18px;
    top: 13px;
    margin-bottom: 0;
    background-color: #fff;
    padding-left: 7px;
    font-weight: 600;
}
.sidebar.right {
    padding-left: 30px;
}
.widget-tabs {
    padding: 0;
    list-style: none;
}

.widget-tabs li {
    padding: 0 0 27px 0;
    margin: 24px 0 0 0;
    border-bottom: 1px solid #e0e0e0;
}

.widget .tab-content {
    padding-bottom: 0;
}

.widget-thumb a img {
    display: block;
    width: 95px;
    height: 95px;
    float: left;
    border-radius: 3px;
    margin: 3px 22px 0 0;
}

.widget-thumb {
    width: 85px;
    margin-right: 23px;
}

.widget-text h5 {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 5px 0;
}

.widget-text h5 a {
    color: #333;
}

.widget-text h5 a:hover {
    color: #11d6f0;
}

.widget-text span {
    color: #888;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    display: block;
}

.widget-thumb {
    display: inline-block;
}

.widget-thumb a img {
    width: 85px;
    height: auto;
}

.widget-text {
    display: inline-block;
    width: 70%;
    padding: 0;
    position: relative;
    top: -2px;
}

.widget-tabs .widget-content {
    display: table;
}

.widget-tabs .widget-content .widget-text {
    display: table-cell;
    vertical-align: middle;
}

.widget-tabs li {
    padding: 0 0 20px 0;
    margin: 24px 0 0 0;
}

.widget-tabs li:first-child {
    padding: 0 0 20px 0;
    margin: 32px 0 0 0;
}

.widget-tabs li:last-child {
    border: none;
    padding-bottom: 0;
}
.widget .widget-title, .search-widget h4 {
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}
.widget .widget-title{
    border-bottom: 1px solid #f1f1f1;
}
.widget {
    padding: 20px;
    background-color: #f7f9fc;
    margin-bottom: 30px;
}
.widget.search-widget{
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
}
.widget .categories-list li {
    padding: 7px 0
}

.widget .categories-list li a {
    text-decoration: none;
    color: #888;
    width: 100%;
    display: inline-block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    font-weight: normal;
}

.widget .categories-list li a:hover {
    color: #00bcd4
}

.widget .categories-list li a i {
    margin-right: 5px
}

.widget .categories-list li .category-counter {
    font-size: 12px;
    font-size: 12px;
    color: #888;
    float: right;
}
.tagcloud a {
    color: #888;
    font-weight: normal;
    padding: 3px 5px;
    border: 1px solid #eee;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #fff;
}
.tagcloud a:hover{
    background-color: #11d6f0;
    border: 1px solid #11d6f0;
    color: #fff;
}
@media only screen and (max-width: 768px) {
    #breadcrumbs {
        position: unset !important;
        margin-top: 0;
        transform: unset;
    }
    #breadcrumbs ul li {
        margin: 0 10px 0 0px;
    }
    .single-page-content .post-content{
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px 20px !important;
    }
    #posts-nav li.next-post a {
        padding-right: 25px;
    }
    #posts-nav li.prev-post a {
        padding-left: 25px;
    }
    .about-author {
        padding: 30px 20px;
        text-align: center;
    }
    .about-description {
        margin: 0;
    }
    .about-author img {
        float: none;
        width: 80px;
        height: 80px;
    }
    .comments ul li ul {
        margin: 0;
    }
    .comment-by .numerical-rating,
    .comment-by .star-rating {
        position: relative;
        right: 0;
        top: 7px;
        display: block;
        width: 100%;
        float: none;
        height: 30px;
    }
    .avatar {
        display: none;
    }
    .comment-content {
        padding: 0;
    }
    .avatar img {
        max-width: 60px;
    }
    .comment-content {
        padding: 0 0 0 85px;
    }
    .comments ul li ul li::before {
        top: 25px;
    }
    .comment-content {
        padding: 0;
    }
    .sidebar.right {
        padding-left: 0;
    }
    .comments ul li, .comments ul li ul li, .comments ul li ul li ul li, .comments ul li ul li ul li {
        margin: 30px 0 0 0px;
    }
    .add-review-box {
        padding: 20px;
        margin-bottom: 30px;
    }
    .widget .widget-title, .search-widget h4{
        margin-bottom: 10px;
        font-size: 18px;
    }
}



/* ============================================================================= 
14.Single Portfolio Page
============================================================================= */
.portfolio-head{
    height: 500px;
    overflow: hidden;
}
.portfolio-head > img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.portfolio-head {
    position: relative;
    margin: 40px 0;
}
.portfolio-head-content {
    background-color: rgba(17, 214, 240, 0.65);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 130px 70px 90px;
    position: absolute;
    top: 0;
    width: 50%;
}

.portfolio-head-content .portfolio-desc {
    font-size: 18px;
    margin-top: auto;
}

.portfolio-head-content .portfolio-desc p {
    color: rgb(255, 255, 255);
}

.portfolio-head-content .portfolio-attr a {
    float: left;
    font-size: 18px;
    color: #fff;
}

.portfolio-head-content .portfolio-attr a::after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: table;
    float: right;
    height: 1px;
    margin: 0 10px;
    position: relative;
    top: 11px;
    width: 24px;
}

.portfolio-head-content .portfolio-attr a:last-child::after {
    content: none;
}

.portfolio-head-content .portfolio-attr {
    display: block;
    margin-top: 35px;
    opacity: 1;
}

.portfolio-head-content h1 {
    font-size: 42px;
    line-height: 1.5;
    color: #fff;
}
.portfolio-head-content .meta {
    margin-bottom: 0;
    font-size: 18px;
    color: #fff;
}

.portfolio-head-content .portfolio-attr {
    float: left;
}
.block-centered {
    display: table;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
    .portfolio-head-content h1 {
        font-size: 38px;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .portfolio-head-content {
        padding: 70px;
    }
}

@media (max-width: 767px) {
    .portfolio-head {
        margin: 15px 0 0;
    }
    .portfolio-desc > p {
        margin-bottom: 5px;
    }
    .portfolio-head-content h1 {
        font-size: 24px;
        margin-top: 0;
    }
    .portfolio-head-content .meta {
        font-size: 14px;
        margin-bottom: 0;
    }
    .portfolio-head-content {
        padding: 30px;
        width: 100%;
    }
    .portfolio-head-content .portfolio-desc {
        display: none;
    }
    .portfolio-head-content .portfolio-attr {
        margin-top: 0;
    }
    .portfolio-desc-xs .portfolio-attr {
        display: table;
        margin-top: 10px;
    }
    .portfolio-desc-xs {
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .portfolio-desc-xs p {
        color: #76c4df;
        font-size: 12px;
        margin-bottom: 4px;
    }
    .portfolio-desc-xs .portfolio-attr > a::after {
        content: none;
    }
    .portfolio-desc-xs .portfolio-attr > a {
        padding-right: 15px;
    }
    .portfolio-head {
        height: auto;
    }
}

/* ============================================================================= 
#15. Page 404
============================================================================= */

.error-content {
    width: 100%;
    padding: 50px 0
}

.error-content .error-message {
    padding: 0 0 45px;
    text-align: center
}

.error-content .error-message h2 {
    color: #11d6f0;
    font-size: 200px;
    position: relative;
    margin: 0;
    padding: 0 10px 8px
}

.error-content .error-message h3 {
    color: #484848;
    font-size: 28px;
    font-weight: 500;
    line-height: 56px;
    margin: 0
}

.error-content .form-error-search {
    width: 100%;
    float: left;
    margin: 0 0 30px;
    border-radius: 50px;
    border-width: 7px;
    border-style: solid;
    border-color: #ebebed;
    border-image: initial;
    position: relative
}

.error-content .form-error-search input {
    width: 100%;
    float: left;
    height: 60px;
    font-size: 16px;
    line-height: 30px;
    border-width: 0;
    border-radius: 50px;
    margin-bottom: 0;
    padding-left: 25px;
}

.error-content .form-error-search .btn-search {
    top: 0;
    right: 0;
    z-index: 2;
    width: 190px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    padding: 0;
    border-radius: 0 30px 30px 0;
    color: #fff;
    background-color: #11d6f0;
}

.error-content .description {
    text-align: center;
    color: #999
}

.error-content .description a {
    color: #11d6f0
}
@media(max-width:768px) {
    .error-content .error-message h2 {
        font-size: 150px;
    }
    .error-content .form-error-search .btn-search{
        width: 110px;
    }
    .error-content .form-error-search input {
        height: 50px;
        font-size: 15px;
        border-radius: 45px;
        padding-left: 20px;
    }
    .error-content .form-error-search .btn-search{
        height: 50px;
        line-height: 50px;
    }
}